doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='style.css')
  title NBP
// Main Page
//
  <div class="main-page">
  <img src="img/nbp-logo.png" alt="NBP Logo" class="center">
  <h1>KYC / CDD Form</h1>
  <h5>Individual</h5>
  <div class="head-office">
  <h4>Head Office</h4>
  <p>NBP Building, I.I. Chundrigar Road, Karachi, Pakistan.</p>
  <br>
  <p>Feedback, Enquiries and Complaints</p>
  <h4>Telephone Number</h4>
  <p>Phone: +92-21-99220100 (30 lines) </p>
  <p>Phone: +92-21-99062000 (60 lines)</p>
  <h4>NBP Call Center</h4>
  <p>111-NBP-NBP (+92-21 111-627-627)</p>
  <p>0800-11627</p>
  </div>
  </div>
// Page 1
div
  // Logo Header Part
  .top-header
    .logo
      img(src='img/nbp-logo.png' alt='NBP Logo')
    .text-hedaer
      h3
        b KYC / CDD Form
  // Text Header Part
  .top-header
    div
      p Branch: 0323, DHS T-BLOCK BRANCH LAHORE
    div
      p Dated: 13-01-2023
  // Account Details
  .header
    p.header-text Account Details
  table
    tr
      td Branch Name:
      td
        b DHS T-Block Branch Lahore
    tr
      td Branch Code:
      td
        b 0323
    tr
      td Region:
      td
        b Muslim
    tr
      td Currency Type:
      td
        b PKR
    tr
      td Customer Name:
      td
        b Amna Akbar
    tr
      td Account Title:
      td
        b Amna Akbar and Naseem Akbar
    tr
      td Date of Birth
      td
        b 19/07/2000
    tr
      td Current Residential Address
      td
        b
          | House No. 262-E, St. No. 3, DHA Phase-5,
          | Lahore.
  // Identity Documents
  .sub-header
    p.header-text Identity Documents
  table
    tr
      td Type:
      td
        b CNIC
    tr
      td Identity / Registration Number
      td
        b 35200-8152288-0
    tr
      td Expiry Date of Identity Documents
      td
        b 12/10/2028
  // Customer Type
  .sub-header
    p.header-text Customer Type
  table
    tr
      td Individual:
      td
        b Student
  // Purpose of Account
  .sub-header
    p.header-text Purpose of Account
  table
    tr
      td Individual:
      td
        b Personal Saving
  // Normal Mode of Transactions
  .sub-header
    p.header-text Normal Mode of Transactions
  table
    tr
      td Online
      td
        b Cash Deposit / Withdrawal
  // Source of Funds
  .sub-header
    p.header-text Source of Funds
  table
    tr
      td Individual:
      td
        b Support from Parents/ Spouse / other Family
  .page-break
// Page 2
// Logo Header Part
.top-header
  .logo
    img(src='img/nbp-logo.png' alt='NBP Logo')
  .text-hedaer
    h3 KYC / CDD Form
// Text Header Part
.top-header
  div
    p Branch: 0323, DHS T-BLOCK BRANCH LAHORE
  div
    p Dated: 13-01-2023
div
  // Expected Monthly Turnover
  .sub-header
    p.header-text Expected Monthly Turnover
  table
    tr
      td No. of Debit Transactions
      td
        b 4
    tr
      td
        | PKR Equivalent Amount of Debit
        | Transactions (000)
      td
        b 200000
    tr
      td No. of Credit Transactions
      td
        b 4
    tr
      td
        | PKR Equivalent Amount of Credit
        | Transactions (000)
      td
        b 200000
  // Nationality
  .sub-header
    p.header-text Nationality
  table
    tr
      td Type:
      td
        b Pakistani
  // Residence
  .sub-header
    p.header-text Residence
  table
    tr
      td Type:
      td
        b Resident
  // Politically Exposed Person (PEP)
  .sub-header
    p.header-text Politically Exposed Person (PEP)
  table
    tr
      td PEP:
      td
        b No
  // Beneficial Ownership
  .sub-header
    p.header-text Beneficial Ownership
  table
    tr
      td Type
      td
        b Self
  // Expected Types of Counter Parties
  .sub-header
    p.header-text Expected Types of Counter Parties
  table
    tr
      td Type:
      td
        b Partnership
  // Geographies Involved (Places) of Counter Parties
  .sub-header
    p.header-text Geographies Involved (Places) of Counter Parties
  table
    tr
      td Within Pakistan:
      td
        b Punjab
  // Prepared by:
  .sub-header
    p.header-text Prepared by:
  table
    tr
      td Comments:
      td
        b
          | Lorem ipsum dolor sit amet, consectetur
    tr
      td Name:
      td
        b SUMERA BASH
    tr
      td Designation:
      td
        b GBO/ACCOUNT OPENING OFFICER
  .page-break
// Page 3
// Logo Header Part
.top-header
  .logo
    img(src='img/nbp-logo.png' alt='NBP Logo')
  .text-hedaer
    h3 KYC / CDD Form
// Text Header Part
.top-header
  div
    p Branch: 0323, DHS T-BLOCK BRANCH LAHORE
  div
    p Dated: 13-01-2023
div
  // Prepared by:
  table
    tr(style='background-color: #f8f8f8;')
      td Signature &amp; Sap ID:
      td
        b 15380
    tr(style='background-color: #ffffff;')
      td Date:
      td
        b 13-01-2023
  // Reviewed by:
  .sub-header
    p.header-text Reviewed by:
  table
    tr
      td Comments:
      td
        b
          | Lorem ipsum dolor sit amet, consectetur
          | adipiscing elit, sed do eiusmod tempor
          | incididunt ut labore et dolore magna aliqua.
    tr
      td Name:
      td
        b SUMERA BASH
    tr
      td Designation:
      td
        b GBO/ACCOUNT OPENING OFFICER
    tr
      td Signature &amp; Sap ID:
      td
        b 6016
    tr
      td Date:
      td
        b 13-01-2023
