/* Global CSS */
@font-face {
    font-family: 'ArticulatCF';
    src: url('font/ArticulatCF-Regular.woff2') format('woff');
         /* url('font/ArticulatCF-Regular.woff2') format('woff2'),
         url('articulat-cf-bold.ttf') format('truetype'); */
    /* font-weight: bold;
    font-style: normal; */
  }
  
  @font-face {
    font-family: 'ArticulatCF';
    src: url('font/ArticulatCF-Bold.woff') format('woff'),
         url('font/ArticulatCF-Regular.woff2') format('woff2'),
         url('articulat-cf-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
   

body{
    margin: 0px;
    padding: 0px;
    font-family:  'ArticulatCF',Arial, Helvetica, sans-serif;
    color: #000;
    /* font-size:16px; */
}
p{
    margin: 0px;
    padding: 0px;
}
h1,h2,h3,h4,h5,h6{
    margin: 0px;
    padding: 0px;
}

/* Main Page CSS */
.main-page{
    text-align: center;
    /* font-size:25px; */
}
.main-page h1{
    margin: 20px 0px;
}
.head-office{
    text-align: center;
    margin-top: 450px;
    line-height: 1.5rem;
}

/* Img Css */
.main-page img{
    display: block;
    margin:0px auto;
    width: 70%;
    margin-top: 100px;
}

/* Logo Hedaer CSS */

.top-header{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}
/* .top-header .logo{
    flex: 2;
} */
.top-header .logo img{
    width: 158pt;
   
    /* padding-left: 16px; */
}
.top-header h3{
    font-family: "ArticulatCF" ;
    font-size: 12t;
   
    
}

.top-header p{
    font-family: "ArticulatCF" ;
    margin: 2.25rem 0rem 1.25rem 0rem;
    font-size: 10pt;
    font-weight: normal;
} 


/* Header Class CSS */
.header{
    background-color: #009951;
    border-top-left-radius: 2px ;
    border-top-right-radius: 2px;
   
}
.header .header-text{
    color: #fff;
    font-size: 10pt;
    font-weight: 600;
    padding: 12pt 16pt;
}

.sub-header{
    background-color: #ccebdc;
}
.sub-header .header-text{
    color: #000000;
    font-family: "ArticulatCF";
    font-size: 9pt;
    font-weight: 500;
    padding:11pt 16pt;
}

/* Footer Css */
.footer{
    display: block;
    margin-top:20px ;
}
.footer p{
    float: right;
    font-size: 10pt;
    /* margin-top: 25pt; */
}

/* Table Header Css */
table{
    width: 100%;
    border-spacing: 0px;
}
table tr{
    text-align: left;  
}
table tr:nth-child(even){
    background-color: #f8f8f8;
}
table tr td{
    width: 50%;
    padding:11pt 16pt;
    font-family: "ArticulatCF";
    font-size: 8pt;
    font-weight: 500;
    color: #000000;
}

/* page-break */
.page-break{
    page-break-before: always;
}





/* AOF Pages */
.table-row{
    background-color: #7e4fc1;
    width: 10%;
}